certifi >= 14.05.14
six == 1.8.0
python_dateutil >= 2.5.3
setuptools >= 21.0.0
urllib3 >= 1.15.1
amqp==1.4.8
anyjson==0.3.3
kombu==3.0.30
logging==0.4.9.6
requests>=2.11.1
on-http_api1_1>=1.0.0
on-http_api2_0>=1.0.2
on_http_redfish_1_0>=1.0.0
